/* Page-Specific Styles for About Page */
.about-container p[data-lang-text="storyText"] {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 15px;
}

.about-container p[data-lang-text="storyText"] br {
    margin-bottom: 10px;
}

.about-container h4 {
    margin-left: 14px;
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

  